{{ define "main" }}
	<main>
		<article>
			<h1 class="title">{{ .Title }}</h1>
            <!--<time>{{ .Date.Format "02.01.2006 15:04" }}</time>-->

			<div>

            <!-- 
                I tried looping over the Params in order to not hardcode params 
                but that also includes various default params such as .lastmod
                Just include all possible params here. If you don't specify them,
                they're not shown anyways, so no damage done.
            -->

            <ul>
			{{ with .Params.values }}
            <li id="values"> Values: { {{ range . }} <a href="{{ "/values/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} } </li> 
            {{ end }} 

			{{ with .Params.categories }}
            <li id="categories"> Categories: { {{ range . }} <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }} } </li>
            {{ end }} 

			{{ with .Params.phases }}
            <li id="design-phase"> Design phase: { {{ range . }} <a href="{{ "/phases/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }} }</li> 
            {{ end }} 

			{{ with .Params.repo }}
            <li id="repository"> Repository: <a href="{{ . }}" target="_blank">{{ . }}</a></li>
            {{ end }} 

			{{ with .Params.licence }}
            <li id="licence"> Licence: {{ . }}</li>
            {{ end }} 

			{{ with .Params.languages }}
            <li id="languages"> Languages: { {{ range . }} {{ . }} {{ end }} }</li>
            {{ end }} 

			{{ with .Params.references }}
            <li id="references">References: 
                {{ range . }}
                <!-- Either pass a single long string as a reference, or a map with keys "name" and "url" -->
                    {{ if reflect.IsMap . }}
                    <ul> 
                        <li><a href="{{ index . "url" }}">{{ index . "name"}}</a></li>
                    </ul>
                    {{ else }}
                    <ul> 
                        <li> {{ . }} </li>
                    </ul>
                    {{ end }}
                {{ end }} 

            </li>
            {{ end }} 

            </ul>
			</div>

            <hr>

			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
    <!--{{ partial "sidebar.html" . }}-->
{{ end }}
