{{ define "main" }}

	<main>
    
    <h1 class="title">AI Ethics Tool Landscape</h1>

    <h2>Values</h2>

    <div class="values">
    <ul>
    {{ range .Site.Taxonomies.values }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    </div>

    <h2>Stages</h2>

    <div class="stages">
    <ul>
    {{ range .Site.Taxonomies.stages }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    </div>

    <h2>Categories</h2>

    <div class="categories">
    <ul>
    {{ range .Site.Taxonomies.categories }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    </div>

    <h2>Tools</h2>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <ul>
		{{ range $paginator.Pages }}
            <li><a href="{{.Page.Permalink }}">{{ .Title}}</a></li>
		{{ end }}
        </ul>
        <!--{{ partial "pagination.html" . }}-->
    <!--{{ partial "sidebar.html" . }}-->

    <h2>Taxonomy</h2>

    {{ partial "taxonomy.html" . }}

	</main>
    {{ end }}

