{{ define "main" }}

	<main>
    
    <h1 class="title">AI Ethics Tool Landscape</h1>

    <h2>Values</h2>

    <div class="values">
    <ul>
    {{ range .Site.Taxonomies.values }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    </div>

    <h2>Stages</h2>
    <!-- 
        This case was more complex because I wanted to sort on taxonomy term weights
        This is possible on Pages but taxonomies have WeightedPages
        Regular Pages don't have the .Count property, so I had to manually retrieve 
        this from the taxonomy
    -->
    <ol>
    {{ $taxonomy_name := "stages" }}
    {{ $tax := .Site.Taxonomies.stages }}
    {{ with (.Site.GetPage (printf "/%s" $taxonomy_name)) }}					
        {{ range .Pages.ByWeight }}
            {{ $name := .Title }}
            <li><a href="{{ .RelPermalink }}">{{ $name }} ({{ (index $tax $name).Count }})</a></li>
        {{ end }}	
    {{ end }}
    </ol>

    <h2>Categories</h2>

    <div class="categories">
    <ul>
    {{ range .Site.Taxonomies.categories }}
            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    </div>

    <h2>Tools</h2>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        <ul>
		{{ range $paginator.Pages }}
            <li><a href="{{.Page.Permalink }}">{{ .Title}}</a></li>
		{{ end }}
        </ul>
        <!--{{ partial "pagination.html" . }}-->
    <!--{{ partial "sidebar.html" . }}-->

    <h2>Taxonomy</h2>

    {{ partial "taxonomy.html" . }}

	</main>
    {{ end }}

